.homepage {
height: 115vh;
width: 100vw;
background-image: url("https://static.pexels.com/photos/7976/pexels-photo.jpg");
background-size: cover;

}

.nav {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px #444444;
}
#title{
  flex: 2;
  margin-left: 8px;
  opacity: 1;
}
.nav h3 {
  margin-left:6vw;
  margin-right: 8px;
  opacity: 1;
  color: lightgray;
}
.seller {
  /*background-color: oldlace;*/
}
.product {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: 5px 5px 4px #777777;
  padding: 12px;
  margin-top: 20vh;

}
.cart {
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 12px;
  box-shadow: 5px 5px 4px #777777;

}
/*.cart:hover {
  background-color: red;
  transition-delay: 1s;
  transform: scale(1.5);
}*/

.sellerInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10vh;
}
.sellerInfo h3{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 4px #444444;
  color: white;
}

.seller img{
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 4px #777777;
}
.seller h1 {
  color: white;
  font-family: sans-serif;
}
.sellerForm {
  display: flex;
  justify-content: flex-start;
}
.sellerForm button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 3px;
  margin: 20px 0 0 40px;
}
.sellerProductList a:hover {
  transition: all 1s;
  transform: scale(1.05);

}
.ember-view {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ember-view::after{
  /*display: inline-block;*/
}
.product-tile {
  flex: 1 1 100%;
  text-align: center;
}
.product-tile h2 {
  margin-bottom: 1px;
}
.newProduct {
  margin: 18px 0 0 44px;
  background-color: white;
  border: none;
  box-shadow: 5px 5px 4px #333333;
}
.newProduct:hover {
  background-color: #179CAF;
}
.ember-view li{
  width: 100%;
  display: inline-block;
  padding: 6px;
}
.removeCartItem {
  border: 2px solid red;
  background-color: white;
  color: red;
  margin-left: 10px;
}
.removeCartItem:hover {
  background-color: #EFBB5E;
}
.newProductForm {
  background-color: lime;
  
  }
}
