.homepage {
height: 100vh;
background-image: url("https://static.pexels.com/photos/7976/pexels-photo.jpg");
background-size: cover;
}

.nav {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px #444444;
}
#title{
  flex: 2;
  margin-left: 8px;
}
.nav h3 {
  margin-left:6vw;
}
.seller {
  /*background-color: oldlace;*/
}
.product {
  background-color: lightgray;
}
.cart {
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 12px;
  box-shadow: 5px 5px 4px #777777;

}
.cart:hover {
  background-color: red;
  transition-delay: 1s;
  transform: scale(1.5);
}
