<div class="container">
  <div class="navbar nav">
    <h2 id="title">Welcome to Store</h2>
    {{#link-to 'admin'}}
    <h3>admin</h3>
    {{/link-to}}
    {{#link-to 'index'}}
    <h3>Home</h3>
    {{/link-to}}
  </div>
  {{outlet}}
</div>
